@font-face {
    font-family: Inter;
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

:root {
    --Grey-900: hsl(0, 0%, 8%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-700: hsl(0, 0%, 20%);
    --White: hsl(0, 0%, 100%);
    --Green: hsl(75, 94%, 57%);
}

body {
    margin: 0;
    min-height: 100dvh;
    display: grid;
    place-items: center;
    padding: 24px;
    background-color: var(--Grey-900);
    font-family: 'Inter', sans-serif;
    
}

#main-card {
    background: var(--Grey-800);
    color: var(--White);
    border-radius: 8px;
    text-align: center;
    width: min(90vw, 325px);
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;

}

#profile-img {
    border-radius: 50%;
    aspect-ratio: 1;
    width: 95px;
}

#profile-name {
    font-size: 28px;
}

#profile-location {
    color: var(--Green);
    font-size: 16px;
}

#profile-career {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
}

.social-link {
    background: var(--Grey-700);
    color: var(--White);
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    text-decoration: none;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 8px;
}

.social-link:hover {
    background-color: var(--Green);
    color: var(--Grey-900);
}