@font-face {
    font-family: Inter;
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

:root {
    --Grey-900: hsl(0, 0%, 8%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-700: hsl(0, 0%, 20%);
    --White: hsl(0, 0%, 100%);
    --Green: hsl(75, 94%, 57%);
}

body {
    margin: 0;
    background-color: var(--Grey-900);
    font-family: 'Inter', sans-serif;
    
}

#main-card {
    background: var(--Grey-800);
    color: var(--White);
    text-align: center;
    width: 500px;
}

#profile-img {
    border-radius: 100%;
}

#profile-location {
    color: var(--Green);
}

.social-section {
    background: var(--Grey-700);
}

.social-section:hover {
    background-color: var(--Green);
    color: var(--Grey-900);
}